@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');/*Basic font  */
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');/* intermediate font */
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');/* advance font */
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');/* elite font */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root{
    /* color */
--font_color: white;
--Auto_iconic_purple: #9146D4;
--background_color: #464649;
--box_background_color: #18181B;
/* font type */
--basic_font: 400 4rem 'Almendra Display', cursive;
--intermediate_font: 400 2.4rem 'Kumar One Outline', cursive;
--advance_font: 400 2.8rem 'Ewert', cursive;
--elite_font: 400 3.3rem 'Monofett', cursive;
--raffle_font: 400 4rem 'Raleway', sans-serif;
}

/* tag CSS, arrangement=(A-Z)*/
a:focus, a:hover {color: white;}
body {background-color: var(--background_color); color: var(--font_color);}
footer {padding-bottom: 1em; text-align: center;}
header, section, footer {margin-bottom: 1em;}
h1{ 
    font-style:italic; 
    font-weight: 900; 
    font-size: 10vw; 
    text-align: right;
    text-transform: uppercase;
    text-shadow: 5vmin 0px 0px rgba(145,70,212,.66), 10vmin 0px 0px rgba(145,70,212,.33);
}
h1:before{
    content:"";
    background-color: var(--background_color);
    width: 200vw;
    height: 3vw;
    position: absolute;
}
section {
    background: var(--box_background_color);
    padding: 1em;
    border-radius: .5em;
    max-width: 1000px;
    margin: auto;
}
section>div {margin-bottom: 1em;}
ul{padding: 10px 0px 10px 40px}
/* class CSS, arrangement=(A-Z)*/
.card{
    max-width: 280px;
    height: 500px;
    margin: 20px;
    color: black;
    border-radius: 20px;
}

.card_explanation{line-height: 35px; text-align: center;}
.card_title {text-align: center; text-transform: uppercase;}
.card:hover .-golden{filter:brightness(150%);}
.card:hover .-shiny_effect{filter:brightness(200%); box-shadow: -7px 0px 10px 4px gold; padding:0}
.footer_ex-links {
    display: block;
    font-size: 1.34em;
}
.footer_title{
    font-weight: 300; 
    font-size: 0.8rem; 
    font-style:italic; 
    text-decoration: underline; 
    padding-bottom: 1rem; 
    letter-spacing: .2em;
    text-transform: uppercase} 

.footer_ex-links:hover a { margin: 0 .2rem;}

.footer_ex-links a, .footer_ex-links a:active, .footer_ex-links a:visited {
    display: inline-block; 
    margin: 0;
    color: white; 
    transform: rotateZ(0deg);
    transition: 1s transform, 0.5s color, 0.5s margin;
}

.footer_ex-links a:hover, .footer_ex-links a:focus {
    color: #9146D4;
    transform: rotateZ(-22deg);
    transition: 0.5s transform, 0.5s color, 0.5s margin;
} 

.important {
    border: 1px solid #9146D4 ;
    padding: 0 1em 1em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 1000px
}

.main_kofipush , .main_kofipush:visited {
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 900; 
    text-align: center;
    color: #18181B;
    background-color: #D283ED;
    transition: .5s;
    width: 200px;
    padding:10px;
    border-radius: 5px;    
    margin: auto;
    margin-top: 10px;
}
.main_kofipush:hover {display: block; background-color: #9146D4;}

.main_title{
    color: #9146D4;
    text-shadow: pink 0px 0px 50px;
    font-size: min(7vw, 5rem);
    text-align: center;
}

.reward_title{font: var(--raffle_font);}

/* ID CSS, arrangement=(A-Z) */

#forward p {font-weight: 400; font-style:italic; }

#forward span {display: block; text-align: center;}

#reward{margin-top: 10px;}

/* utility class, arrangement=(A-Z) */

.-advance_font{font: var(--advance_font); color:var(--Auto_iconic_purple)}

.-basic_font{font: var(--basic_font); color:var(--Auto_iconic_purple)}

.-box { max-width: 1440px; 
    margin-left:auto; 
    margin-right: auto; }

.-card_design_one{background-color: lightcyan}

.-card_design_two{ 
    background-image:  linear-gradient(76deg, rgba(205,255,241,1) 22%, rgba(231,231,231,0.7881553735625878) 41%);
}
.-card_design_three{
    background-image:  linear-gradient(76deg, rgba(205,255,241,1) 0%, rgba(161,161,161,1) 5%, rgba(246,156,124,1) 26%)}

.-card_design_four{
    background-image: linear-gradient(239deg, rgba(70,127,212,1) 29%, rgba(210,228,112,1) 48%, rgba(0,219,58,1) 95%);
}
.-card_design_five{
    background-image: linear-gradient(76deg, rgba(43,81,249,0.5887171713153967) 34%, rgba(169,35,212,0.9454587443491046) 49%, rgba(43,81,249,0.6420879578322507) 64%);border: var(--Auto_iconic_purple) solid 2px;
}

.-card_font_design_one{padding:10px; font-weight: 600; font-size: 1.2rem}

.-center{text-align: center; margin: 0px 10px;}

.-cyan{color: cyan}

.-elite_font{font: var(--elite_font); color:var(--Auto_iconic_purple)}

.-fixed{position:fixed; left:0}

.-flex{
    flex-direction: row;
    display:flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    align-content: space-around;
    ;
}

.-golden{color: gold}

.-img_design_one{
    border: yellow 5px solid;
    box-shadow: 2px 2px 2px 2px black;
    margin:0px 10px
}
.-img_design_two{
    border: rgb(107, 112, 252) 2px solid;
    border-radius: 20px;
    margin:0px 7px;
    background-color: white;
}
.-intermediate_font{font: var(--intermediate_font); color:var(--Auto_iconic_purple)}

.-purple {color: #D283ED;}

.-shiny_effect{height:20000px; width:200000px; background-color: transparent;}




iconify-icon { margin-bottom:-.13em }




